In [1]:
# run this first to initialize the whole project
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

games = pd.read_csv('data/steam.csv')
users = pd.read_csv('data/steam-200k.csv')

# convert datatypes
games['release_date'] = pd.to_datetime(games['release_date'])
games['english'] = games['english'].astype('boolean')
games['required_age'] = games['required_age'].astype('category')
games['developer'] = games['developer'].astype('category')
games['publisher'] = games['publisher'].astype('category')

# split the tags, categories, genres and platforms into lists
games.steamspy_tags = games.steamspy_tags.str.split(',')
games.categories = games.categories.str.split(',')
games.genres = games.genres.str.split(',')
games.platforms = games.platforms.str.split(',')

# convert lists to tuples
games['genres'] = games['genres'].apply(lambda x: tuple(x))
games['categories'] = games['categories'].apply(lambda x: tuple(x))
games['steamspy_tags'] = games['steamspy_tags'].apply(lambda x: tuple(x))
games['platforms'] = games['platforms'].apply(lambda x: tuple(x))

def calculate_middle_owner(owners_str):
    lower, upper = map(int, owners_str.split("-"))
    return (upper - lower) / 2

games['owners'] = games['owners'].apply(calculate_middle_owner)

# Written by Braydon

In [10]:
#checks the user table
users.head()

#written by David

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [4]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://root:root@cluster0.qyyrcuj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    
# Written by Braydon

ac-g3ktz6o-shard-00-00.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),ac-g3ktz6o-shard-00-01.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms),ac-g3ktz6o-shard-00-02.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 65e8cbdc70f0878142f35526, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('ac-g3ktz6o-shard-00-00.qyyrcuj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-g3ktz6o-shard-00-00.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-g3ktz6o-shard-00-01.qyyrcuj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-g3ktz6o-shard-00-01.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>, <ServerDescription ('ac-g3ktz6o-shard-00-02.qyyrcuj.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-g3ktz6o-shard-00-02.qyyrcuj.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000) (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

In [2]:
#creates the games_names table, that only has the fields appid and name
games_names = games[['appid', 'name']]
#Written by David

In [3]:
#checks the games_names table, to see if it worked properly
games_names.head()

#Written by David

   appid                       name
0     10             Counter-Strike
1     20      Team Fortress Classic
2     30              Day of Defeat
3     40         Deathmatch Classic
4     50  Half-Life: Opposing Force

In [7]:
#creates a table for the game platforms
data = {
    'platform': ['windows', 'linux', 'mac']
}

games_platforms = pd.DataFrame(data)

#written by David

In [8]:
#checks the games_platform table
games_platforms.head()

#writen by David

  platform
0  windows
1    linux
2      mac

In [7]:
#creates the table for all the users 
games_users = pd.DataFrame(users['151603712'].unique(), columns=['userID'])

#Written by David

In [5]:
users['151603712'].unique()

array([151603712, 187131847,  59945701, ..., 176449171, 221315846,
       128470551], dtype=int64)

In [8]:
#checks the users table
games_users

#written by David

          userID
0      151603712
1      187131847
2       59945701
3       53875128
4      234941318
...          ...
12388  125424716
12389   99096740
12390  176449171
12391  221315846
12392  128470551

[12393 rows x 1 columns]

In [21]:
# new table that contains each unique tag
tags = games['steamspy_tags'].explode().unique()
tag_table = pd.DataFrame({'tag_name': tags, })
tag_table

# Francisco
# new table that contains each unique genre
genres = games['genres'].explode().unique()
genre_table = pd.DataFrame({'genre_name': genres})
genre_table

# Francisco
# new table that contains each unique category
categories = games['categories'].explode().unique()
category_table = pd.DataFrame({'category_name': categories})
category_table

# Francisco
# new table that contains each unique developer
developers = games['developer'].unique()
developer_table = pd.DataFrame({'developer_name': developers})
developer_table

# Francisco
# new table that contains each unique publisher
publishers = games['publisher'].unique()
publisher_table = pd.DataFrame({'publisher_name': publishers})
publisher_table

# Francisco
# new table that is called studio_table, it contains all the developers and publishers that have worked on the same game
studio_table = games[['developer', 'publisher']]
studio_table = studio_table.explode('developer')
studio_table = studio_table.explode('publisher')
studio_table = studio_table.drop_duplicates()
studio_table = studio_table.reset_index(drop=True)
studio_table

# Francisco

                             developer              publisher
0                                Valve                  Valve
1                     Gearbox Software                  Valve
2      Valve,Hidden Path Entertainment                  Valve
3                          Mark Healey            Mark Healey
4                 Tripwire Interactive   Tripwire Interactive
...                                ...                    ...
18263                        MonteCube              MonteCube
18264            Velvet Paradise Games  Velvet Paradise Games
18265                      SHEN JIAWEI            SHEN JIAWEI
18266                   Semyon Maximov       BekkerDev Studio
18267                 Adept Studios GD   Alawar Entertainment

[18268 rows x 2 columns]

In [ ]:
#connect to mongoDB

In [ ]:
#creates the games_names table, that only has the fields appid and name
games_names = games[['appid', 'name']]
#Written by David

#creates a table for the game platforms
data = {
    'platform': ['windows', 'linux', 'mac']
}

games_platforms = pd.DataFrame(data)
#written by David

#creates the table for all the users 
games_users = pd.DataFrame(users['151603712'].unique(), columns=['userID'])

#Written by David