In [31]:
from difflib import get_close_matches

# run this first to initialize the whole project
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

games = pd.read_csv('data/steam.csv')
player_data_raw = pd.read_csv('data/steam-200k.csv')
player_playtime = pd.read_csv('data/player_playtime2.csv')

player_data_raw.columns = ['playerID', 'gameName', 'gameRelationship', 'playtime', 'idk']

# this seperates the player_data_raw table into 2 different tables, one with game purchase data, and another with game play data
player_purchases = player_data_raw[player_data_raw['gameRelationship'] == 'purchase']
player_plays = player_data_raw[player_data_raw['gameRelationship'] == 'play']

# this creates a new table called users that has 3 different columns, the userID, the gameName, and the playtime.
OLDplayer_playtime = player_plays[['playerID', 'gameName', 'playtime']]


# this merges the user_purchases table with the users table, so that one row shows all the necessary information
OLDplayer_playtime = OLDplayer_playtime.merge(player_purchases, on=['playerID', 'gameName'], how='right')
OLDplayer_playtime['playtime_x'] = OLDplayer_playtime['playtime_x'].fillna(0)
OLDplayer_playtime = OLDplayer_playtime.drop(columns=['playtime_y', 'idk', 'gameRelationship'])
OLDplayer_playtime = OLDplayer_playtime.rename(columns={'playtime_x': 'playtime'})

# this creates a new table called players that has 1 column, the playerID
players = pd.DataFrame(OLDplayer_playtime['playerID'].unique(), columns=['playerID'])

# convert datatypes
games['release_date'] = pd.to_datetime(games['release_date'])
games['english'] = games['english'].astype('boolean')
games['required_age'] = games['required_age'].astype('category')
games['developer'] = games['developer'].astype('category')
games['publisher'] = games['publisher'].astype('category')

# split the tags, categories, genres and platforms into lists
games.steamspy_tags = games.steamspy_tags.str.split(',')
games.categories = games.categories.str.split(',')
games.genres = games.genres.str.split(',')
games.platforms = games.platforms.str.split(',')

# convert lists to tuples
games['genres'] = games['genres'].apply(lambda x: tuple(x))
games['categories'] = games['categories'].apply(lambda x: tuple(x))
games['steamspy_tags'] = games['steamspy_tags'].apply(lambda x: tuple(x))
games['platforms'] = games['platforms'].apply(lambda x: tuple(x))

def calculate_middle_owner(owners_str):
    lower, upper = map(int, owners_str.split("-"))
    return (upper - lower) / 2

games['owners'] = games['owners'].apply(calculate_middle_owner)

# change games appid to _id
games = games.rename(columns={'appid': '_id', 'name': 'gameName', 'steamspy_tags': 'tags'})

OLDplayer_playtime = OLDplayer_playtime.merge(games, on='gameName', how='left')
OLDplayer_playtime = OLDplayer_playtime.drop(columns=['english', 'required_age', 'achievements', 'average_playtime', 'median_playtime', 'owners', 'price', 'negative_ratings', 'positive_ratings', 'release_date', 'tags', 'developer', 'publisher', 'platforms', 'categories', 'genres'])
OLDplayer_playtime.rename(columns={'_id': 'gameID'}, inplace=True)

# Written by Braydon & Francisco

In [7]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://root:root@cluster0.qyyrcuj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
    
# Written by Braydon

Pinged your deployment. You successfully connected to MongoDB!

In [37]:
# finds all the games in player_playtime that have no gameID
errors = player_playtime[player_playtime['gameID'].isnull()]
errors

         playerID                               gameName  playtime  gameID
0       151603712             The Elder Scrolls V Skyrim     273.0     NaN
2       151603712                                  Spore      14.9     NaN
3       151603712                      Fallout New Vegas      12.1     NaN
12      151603712                   Dead Island Epidemic       1.4     NaN
14      151603712  Dragon Age Origins - Ultimate Edition       1.3     NaN
...           ...                                    ...       ...     ...
129566  128470551                        Arma 2 DayZ Mod      22.0     NaN
129572  128470551                                 Nether       2.8     NaN
129574  128470551         Mortal Kombat Komplete Edition       2.5     NaN
129575  128470551                           Fallen Earth       2.4     NaN
129578  128470551             Grand Theft Auto Vice City       1.5     NaN

[72996 rows x 4 columns]

In [38]:
# create a new dataframe with all the unique errors in the dataframe
unique_errors = errors['gameName'].unique()
# rename the column to be gameName
unique_errors = pd.DataFrame(unique_errors, columns=['gameName'])

unique_errors

                                         gameName
0                      The Elder Scrolls V Skyrim
1                                           Spore
2                               Fallout New Vegas
3                            Dead Island Epidemic
4           Dragon Age Origins - Ultimate Edition
...                                           ...
2960       Influent DLC - English [Learn English]
2961                                 Starter Pack
2962  Tesla Breaks the World! Official Soundtrack
2963          Romance of the Three Kingdoms Maker
2964                                 Space Colony

[2965 rows x 1 columns]

In [ ]:
import difflib 
import pandas as pd
import re

# convert the columns to strings
#matches['Original'] = matches['Original'].astype(str)
#matches['Closest Match'] = matches['Closest Match'].astype

# Function to remove special characters and spaces
def remove_special_characters_and_spaces(text):
    if isinstance(text, str):
        # Define regex pattern to match special characters and spaces
        pattern = r'[^a-zA-Z0-9]'
        # Replace special characters and spaces with an empty string
        cleaned_text = re.sub(pattern, '', text)
        return cleaned_text
    else:
        return text

# Apply the function to the column
unique_errors['filtered_gameName'] = unique_errors['gameName'].apply(remove_special_characters_and_spaces)
games['filtered_gameName'] = games['gameName'].apply(remove_special_characters_and_spaces)

# capitalize all letters in the filtered_gameName columns of these 2 dataframes
unique_errors['filtered_gameName'] = unique_errors['filtered_gameName'].str.upper()
games['filtered_gameName'] = games['filtered_gameName'].str.upper()

def find_closest_match(string, choices):
    closest_match = get_close_matches(string, choices, n=1)
    if closest_match:
        similarity_ratio = round(
            difflib.SequenceMatcher(None, string, closest_match[0]).ratio(), 2
        )
        return closest_match[0], similarity_ratio
    else:
        return None, 0.0

def find_closest_matches_for_column(input_df, column_name, target_df, target_column_name):
    output_data = []
    for string in input_df[column_name]:
        closest_match, similarity_ratio = find_closest_match(
            string, target_df[target_column_name]
        )
        output_data.append([string, closest_match, similarity_ratio])

    output_df = pd.DataFrame(
        output_data, columns=["filtered_playerGame", "filtered_gameMatch", "similarityRatio"]
    )
    return output_df

matches = find_closest_matches_for_column(unique_errors, "filtered_gameName", games, "filtered_gameName")
matches.to_csv('data/matches2.csv', index=False)

matches

In [6]:
import difflib 
import pandas as pd
import re

# convert the columns to strings
#matches['Original'] = matches['Original'].astype(str)
#matches['Closest Match'] = matches['Closest Match'].astype

# Function to remove special characters and spaces
def remove_special_characters_and_spaces(text):
    if isinstance(text, str):
        # Define regex pattern to match special characters and spaces
        pattern = r'[^a-zA-Z0-9]'
        # Replace special characters and spaces with an empty string
        cleaned_text = re.sub(pattern, '', text)
        return cleaned_text
    else:
        return text

# Apply the function to the column
unique_errors['filtered_gameName'] = unique_errors['gameName'].apply(remove_special_characters_and_spaces)
games['filtered_gameName'] = games['gameName'].apply(remove_special_characters_and_spaces)

# capitalize all letters in the filtered_gameName columns of these 2 dataframes
unique_errors['filtered_gameName'] = unique_errors['filtered_gameName'].str.upper()
games['filtered_gameName'] = games['filtered_gameName'].str.upper()

unique_errors

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [40]:
# add the gameName column from the unique_errors dataframe to the matches dataframe as a new column called playerGame, matching the filtered_gameName column with the filtered_playerGame column
matches = pd.read_csv('data/matches2.csv')

playerGame = unique_errors[['gameName', 'filtered_gameName']]
playerGame = playerGame.rename(columns={'gameName': 'playerGame', 'filtered_gameName': 'filtered_playerGame'})
gameMatch = games[['gameName', 'filtered_gameName']]
gameMatch = gameMatch.rename(columns={'gameName': 'gameMatch', 'filtered_gameName': 'filtered_gameMatch'})

matches = matches.merge(playerGame, on='filtered_playerGame', how='left')
matches = matches.merge(gameMatch, on='filtered_gameMatch', how='left')

matches

,filtered_playerGame,filtered_gameMatch,similarityRatio,playerGame,gameMatch
0,THEELDERSCROLLSVSKYRIM,THEELDERSCROLLSVSKYRIM,1.00,The Elder Scrolls V Skyrim,The Elder Scrolls V: Skyrim
1,SPORE,SPORE,1.00,Spore,SPORE™
2,FALLOUTNEWVEGAS,FALLOUTNEWVEGAS,1.00,Fallout New Vegas,Fallout: New Vegas
3,DEADISLANDEPIDEMIC,RABIEZEPIDEMIC,0.56,Dead Island Epidemic,Rabiez: Epidemic
4,DRAGONAGEORIGINSULTIMATEEDITION,DRAGONAGEORIGINSULTIMATEEDITION,1.00,Dragon Age Origins - Ultimate Edition,Dragon Age: Origins - Ultimate Edition
...,...,...,...,...,...
2971,INFLUENTDLCENGLISHLEARNENGLISH,NaN,0.00,Influent DLC - English [Learn English],NaN
2972,STARTERPACK,STARMERC,0.74,Starter Pack,Star Merc
2973,TESLABREAKSTHEWORLDOFFICIALSOUNDTRACK,TESLABREAKSTHEWORLD,0.68,Tesla Breaks the World! Official Soundtrack,Tesla Breaks the World!
2974,ROMANCEOFTHETHREEKINGDOMSMAKER,ROMANCEOFTHETHREEKINGDOMSMAKER,1.00,Romance of the Three Kingdoms Maker,Romance of the Three Kingdoms Maker / 三国志ツクール
2975,SPACECOLONY,SPACETYCOON,0.82,Space Colony,Space Tycoon | 星际大亨

In [28]:
perfect_matches = matches
perfect_matches = perfect_matches.drop(columns=['filtered_playerGame', 'filtered_gameMatch'])
perfect_matches = perfect_matches.rename(columns={'playerGame': 'gameName', 'gameMatch': 'newGameName'})
# perfect_matches

# take the newGameName column from perfect_matches and overwrite the gameName column in player_playtime where the current gameName is equal to the gameName column in perfect_matches
player_playtime = player_playtime.merge(perfect_matches, on='gameName', how='left')
player_playtime['gameName'] = player_playtime['newGameName'].fillna(player_playtime['gameName'])
player_playtime = player_playtime.drop(columns=['newGameName'])

# find all the games in player_playtime that have no gameID and add one from the games dataframe where the gameName is equal to the gameName in player_playtime
game_names = games[['gameName', '_id']]
player_playtime = player_playtime.merge(game_names, on='gameName', how='left')
player_playtime['gameID'] = player_playtime['_id'].fillna(player_playtime['gameID'])
player_playtime = player_playtime.drop(columns=['_id'])

# write the player_playtime dataframe to a csv file
player_playtime.to_csv('data/player_playtime2.csv', index=False)

# show all rows with no gameID
player_playtime[player_playtime['gameID'].isnull()]
# player_playtime

,playerID,gameName,playtime,gameID
12,151603712,Dead Island Epidemic,1.4,NaN
16,151603712,SEGA Genesis & Mega Drive Classics,0.8,NaN
19,151603712,Marvel Heroes 2015,0.5,NaN
22,151603712,BioShock,0.5,NaN
29,151603712,Fallout New Vegas Courier's Stash,0.0,NaN
...,...,...,...,...
134822,176449171,Counter-Strike Condition Zero Deleted Scenes,0.0,NaN
134826,221315846,Tom Clancy's Ghost Recon Phantoms - EU,3.1,NaN
134830,128470551,Arma 2 DayZ Mod,22.0,NaN
134836,128470551,Nether,2.8,NaN
134838,128470551,Mortal Kombat Komplete Edition,2.5,NaN

In [54]:
# create a new dataframe called errorStats that contains one column called oldErrors and another called newErrors

# find all the unique games in player_playtime that have no gameID
errors = player_playtime[player_playtime['gameID'].isnull()]
OLDerrors = OLDplayer_playtime[OLDplayer_playtime['gameID'].isnull()]

# get the count for how many rows are in the errors dataframe
errorStats1 = pd.DataFrame({'type': 'player count', 'oldErrors': len(OLDerrors), 'newErrors': len(errors)}, index=[0])

errors = errors['gameName'].unique()
#errors = pd.DataFrame(errors, columns=['gameName'])
#errors
OLDerrors = OLDerrors['gameName'].unique()
#OLDerrors = pd.DataFrame(OLDerrors, columns=['gameName'])
#OLDerrors

errorStats2 = pd.DataFrame({'type': 'games count', 'oldErrors': len(OLDerrors), 'newErrors': len(errors)}, index=[0])

errorStats = pd.concat([errorStats1, errorStats2])
errorStats

           type  oldErrors  newErrors
0  player count      72996      34845
0   games count       2965       1680

                                         gameName
0                      The Elder Scrolls V Skyrim
1                                           Spore
2                               Fallout New Vegas
3                            Dead Island Epidemic
4           Dragon Age Origins - Ultimate Edition
...                                           ...
2960       Influent DLC - English [Learn English]
2961                                 Starter Pack
2962  Tesla Breaks the World! Official Soundtrack
2963          Romance of the Three Kingdoms Maker
2964                                 Space Colony

[2965 rows x 1 columns]

In [33]:
errors = player_playtime[player_playtime['gameID'].isnull()]
unique_errors = errors['gameName'].unique()
unique_errors

array(['Dead Island Epidemic', 'SEGA Genesis & Mega Drive Classics',
       'Marvel Heroes 2015', ...,
       'Influent DLC - English [Learn English]', 'Starter Pack',
       'Tesla Breaks the World! Official Soundtrack'], dtype=object)

In [36]:
import difflib 
import pandas as pd
import re

# convert the columns to strings
#matches['Original'] = matches['Original'].astype(str)
#matches['Closest Match'] = matches['Closest Match'].astype

# Function to remove special characters and spaces
def remove_special_characters_and_spaces(text):
    if isinstance(text, str):
        # Define regex pattern to match special characters and spaces
        pattern = r'[^a-zA-Z0-9]'
        # Replace special characters and spaces with an empty string
        cleaned_text = re.sub(pattern, '', text)
        return cleaned_text
    else:
        return text
    
errors = player_playtime[player_playtime['gameID'].isnull()]
unique_errors = errors['gameName'].unique()
unique_errors = pd.DataFrame(unique_errors, columns=['gameName'])

# Apply the function to the column
unique_errors['filtered_gameName'] = unique_errors['gameName'].apply(remove_special_characters_and_spaces)
games['filtered_gameName'] = games['gameName'].apply(remove_special_characters_and_spaces)

# capitalize all letters in the filtered_gameName columns of these 2 dataframes
unique_errors['filtered_gameName'] = unique_errors['filtered_gameName'].str.upper()
games['filtered_gameName'] = games['filtered_gameName'].str.upper()

def find_matching_strings(input_df, input_column, target_df, target_column):
    output_data = []
    for input_string in input_df[input_column]:
        for target_string in target_df[target_column]:
            if len(target_string) > len(input_string) and input_string in target_string:
                output_data.append([input_string, target_string])

    output_df = pd.DataFrame(output_data, columns=["filtered_playerGame", "filtered_gameMatch"])
    return output_df

# Find matching strings
matches = find_matching_strings(unique_errors, 'filtered_gameName', games, 'filtered_gameName')

# matches.to_csv('data/matches3.csv', index=False)

matches

     filtered_playerGame     filtered_gameMatch
0               BIOSHOCK       BIOSHOCKINFINITE
1               BIOSHOCK     BIOSHOCKREMASTERED
2               BIOSHOCK    BIOSHOCK2REMASTERED
3                  TRINE  TRINEENCHANTEDEDITION
4                  TRINE    TRINE2COMPLETESTORY
...                  ...                    ...
1319              BUTTON           BUTTONFRENZY
1320              BUTTON            BUTTONTALES
1321              BUTTON           BUTTONBUTTON
1322              BUTTON            BUTTONMUSIC
1323              BUTTON               3BUTTONS

[1324 rows x 2 columns]

In [30]:
matches =pd.read_csv('data/matches3.csv')
# create a dataframe that contains all duplicate filtered_playerGame values
duplicates = matches[matches.duplicated(subset=['filtered_playerGame'])]
# duplicates

# remove all the rows from the matches dataframe with the same filtered_playerGame value from the duplicates dataframe
matches = matches[~matches['filtered_playerGame'].isin(duplicates['filtered_playerGame'])]

# add the playerGame column from the unique_errors dataframe to the matches dataframe as a new column called playerGame, matching the filtered_gameName column with the filtered_playerGame column
playerGame = unique_errors[['gameName', 'filtered_gameName']]
playerGame = playerGame.rename(columns={'gameName': 'playerGame', 'filtered_gameName': 'filtered_playerGame'})
gameMatch = games[['gameName', 'filtered_gameName']]
gameMatch = gameMatch.rename(columns={'gameName': 'gameMatch', 'filtered_gameName': 'filtered_gameMatch'})

matches = matches.merge(playerGame, on='filtered_playerGame', how='left')
matches = matches.merge(gameMatch, on='filtered_gameMatch', how='left')

matches

,filtered_playerGame,filtered_gameMatch,playerGame,gameMatch
0,JAZZPUNK,JAZZPUNKDIRECTORSCUT,Jazzpunk,Jazzpunk: Director's Cut
1,BIOSHOCK2,BIOSHOCK2REMASTERED,BioShock 2,BioShock™ 2 Remastered
2,FALLENEARTH,FALLENEARTHFREE2PLAY,Fallen Earth,Fallen Earth Free2Play
3,ASSASSINSCREEDII,ASSASSINSCREEDIIIREMASTERED,Assassin's Creed II,Assassin's Creed® III Remastered
4,DEUSEXHUMANREVOLUTION,DEUSEXHUMANREVOLUTIONDIRECTORSCUT,Deus Ex Human Revolution,Deus Ex: Human Revolution - Director's Cut
...,...,...,...,...
225,SPACEFORCEROGUEUNIVERSE,SPACEFORCEROGUEUNIVERSEHD,SpaceForce Rogue Universe,Spaceforce Rogue Universe HD
226,D4DARKDREAMSDONTDIE,D4DARKDREAMSDONTDIESEASONONE,D4 Dark Dreams Don't Die,D4: Dark Dreams Don’t Die -Season One-
227,THEOTHERSIDE,THEOTHERSIDEOFTHESCREEN,The Otherside,The Other Side Of The Screen
228,HOTELDASH,HOTELDASHSUITESUCCESS,Hotel Dash,Hotel Dash™ Suite Success™
229,SPACECOLONY,SPACECOLONYSTEAMEDITION,Space Colony,Space Colony: Steam Edition